# Files for git to ignore

# compiled python files
__pycache__/
*.py[cod]

# vim temporary files
*~
*.sw[a-p]
.DS_Store
[._]*.s[a-v][a-z]

# VIM Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist

# Auto generated tag files
tags

# persistent undo
[._]*.un~

# VS Code
.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# local history for VS Code
.history/

# Built VS Code Extensions
*.vsix

# charts
*.svg

# virtual environment
.venv/